.figure__like {
  margin-left: auto;
  margin-right: 30px;
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.figure__like:hover {
  opacity: 0.5;
}

@media (max-width: 621px) {
  .figure__like {
    margin-right: 15px;
  }
}
