.popup {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
  z-index: 3;
}
