.popup__save_disabled {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  opacity: 1;
}

.popup__save_disabled:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 621px) {
  .popup__save_disabled:disabled {
    margin: 45px 22px 25px 22px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
