.popup__input {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 36px;
  margin-right: 36px;
  padding-bottom: 13px;
  max-width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.popup__input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media (max-width: 621px) {
  .popup__input-second {
    margin: 0 22px;
    margin-top: 30px;
  }
}
